.active{
  background-color: purple;
}

.box{
  margin:15px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px black solid;
  border-radius: 5px;

  button{
    margin:10px 10px;
  }
}
