<!-- Toolbar -->

<mat-toolbar class="main-toolbar" color="primary">
    <div class="hide-sidebar">
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>

    
    <div class="nav-header">
        <span class="nav-title">EdAble Admin System</span>
    </div>
    
    <div class="hide">
        
        <a class="nav-item" routerLink="/main">Dashboard</a>
        <a class="nav-item" routerLink="transaction">Transactions</a>
        <a class="nav-item" routerLink="/home">Reports</a>
    </div>
   
    <!--<span class="spacer"></span>-->

    
    <div fxFlex fxLayout fxLayoutAlign="end" >
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
              <button mat-raised-button type="button" class="btn btnPrimary" (click)="authService.SignOut()">Log Out</button>
            </li>
        </ul>
    </div>
  </mat-toolbar>

  