<mat-nav-list>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>dashboard</mat-icon> <span class="nav-caption">Dashboard</span>
    </a>
    <a mat-list-item routerLink="/owner" (click)="onSidenavClose()">
        <mat-icon> attach_money</mat-icon> <span class="nav-caption">Transactions</span>   
    </a>
    <a mat-list-item routerLink="#" (click)="onSidenavClose()">
        <mat-icon>account_balance</mat-icon><span class="nav-caption">Reports</span>
    </a>
  </mat-nav-list>
