.chart-container {
    display: flex;
    width: 40vw;
    max-height: 360px;
    justify-content: center;
    align-items: center;
    
    div {
        #org-referral-graph {
            width: 100%;
            height: 100%;
        }
    }
}