//-----------------Table and Search---------------\\

.container {
    width: 100%;
    height: 50%;
}

.example-small-box{
  max-width: 100vw;
  overflow: auto;
  margin:10px;
}

// .lower {
//     width: 90%;
//     margin-left: auto;
//     margin-right: auto;
//     padding: 10px;
// }

.upper {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    align-items: center;
    height: 40px;
    padding-top: 10px;
}
.upper > div {
    font-size: 15px;
    width: 100%
}

.mat-tab-label .mat-tab-label-content {
    font-size: 20px;
}

.mat-tab-labels {
    justify-content: space-evenly;
    padding: 0px;
}

.search-bar {
   max-width:600px;
}

.lower{
  max-width: 100vw;
  max-height: 100vh;
  overflow: auto;

  .table{
    width: 100%;
  }

  .mat-paginator{
    min-width:100%;
  }

}
