//-----------------Table and Search---------------\\

.container {
    width: 100%;
    height: 50%;
    
}
.lower {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
     
}

.upper {
    //margin: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    align-items: center;
    height: 40px;
    padding: 10px;
    
    
    
    
}
.upper > div {
    
    padding: 15px;
    //text-align: center;
    //line-height: 75px;
    font-size: 15px;    
  }
  .search {
    width: 70%;

    mat-form-field {
        
        margin-top: -2%;
        display: flex;
        flex-direction: column-reverse;
        
        text-align: center;
         
    }
}
.options {
    width: 30%;
    
    mat-radio-group {
       
        padding: 10px;
        display: flex;
        flex-direction: row;            
        text-align: center;
        
        
           
    }
}


.table {
    
    width: 100%;
}

