//-----------------Table and Search---------------\\

.container {
    width: 100%;
    height: 50%;

}
.lower {
    width: 95%;
    padding: 10px;
    margin: auto; 
}

.upper {
    width: 95%;
    padding: 10px;
    margin: auto;
    text-align: center;
    .control-button {
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        text-align: center;
        height: 40px;
        margin-bottom: -20px; 
    }
}

.table {
    width: 100%;
}
