//-----------------Table and Search---------------\\

.scroll-container {
    border: 4px solid green;
    max-width: 90vw;
    overflow: auto;
    
}

.container {
    //overflow: hidden;
    border: 1px solid black;
    min-width: 90vw;
    min-height: 100vh;
    overflow: hidden;
    
}

.lower {
    //width: 90vw;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    overflow:auto;

}

.upper {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    align-items: center;
    height: 40px;
    padding: 10px;




}
.upper > div {

    padding: 15px;
    //text-align: center;
    //line-height: 75px;
    font-size: 15px;
  }
  .search {
    width: 100%;

    mat-form-field {

        margin-top: -2%;
        display: flex;
        flex-direction: column-reverse;

        text-align: center;

    }
}

.upper > div {
    font-size: 15px;
    width: 100%
}

.mat-tab-label .mat-tab-label-content {
    font-size: 20px;
}

.mat-tab-labels {
    justify-content: space-evenly;
    padding: 0px;
}

table {
    border: 1px solid red;
    
   width: 90vw;
   //overflow: auto;
}

.edit-button{
  display:inline-block;
  margin-left:auto;
}

.exit-button{
  display:inline-block;
  margin-left:5px;
}

.search-bar {
   max-width:600px;
}

@media (max-width: 768px) {
  .text { display: none; }
}

mat-paginator {
    bottom: 0px;
    position: sticky;
    z-index: 10;
}