<div class="container">
    <div class="upper">
        
        <mat-form-field class="control-button" appearance="standard">
            <mat-label>Search Organisations</mat-label>
            <input matInput #input>
        </mat-form-field>
       
    </div>
    <div class="lower">
        <table [dataSource]="dataSource" mat-table class="mat-elevation-z8 table">
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef> Date </th>
              <td mat-cell *matCellDef="let element"> {{element.date}} </td>
            </ng-container>
          
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
          
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> Email </th>
              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>
          
            <ng-container matColumnDef="donationItem">
              <th mat-header-cell *matHeaderCellDef> Donation Item </th>
              <td mat-cell *matCellDef="let element"> {{element.donationItem}} </td>
            </ng-container>

            <ng-container matColumnDef="donationAmount">
                <th mat-header-cell *matHeaderCellDef> Donation Amount </th>
                <td mat-cell *matCellDef="let element"> {{element.donationAmount}} </td>
            </ng-container>

            <ng-container matColumnDef="organisation">
                <th mat-header-cell *matHeaderCellDef> Organisation </th>
                <td mat-cell *matCellDef="let element"> {{element.organisation}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>
</div>


  
