.container{
    max-width: 100%;

    .mat-radio-group{
      margin-top:6px;
      display: flex;
      flex-wrap: wrap;
      column-gap: 10px;
      row-gap: 10px;
      justify-content: center;
    }
}
