<div class="container">

  <mat-radio-group aria-label="Select an option" *ngIf="items.length > 0" [formControl]="infoGraphicsControl">
    <mat-radio-button *ngFor="let item of infoGraphicsOptions" [value]="item">{{item}}</mat-radio-button>
  </mat-radio-group>

  <app-infograph-org-items-donations
    *ngIf="infoGraphicsControl.value === 'Item Donations'"
    [items]="items"
    [org]="org"

  >
  </app-infograph-org-items-donations>

  <app-infographics-general-donations
    [allOrgsGeneralDonationData]="allOrgsGeneralDonationData"
  >

  </app-infographics-general-donations>


</div>
