<div class="container">

  <mat-radio-group aria-label="Select an option" [formControl]="infoGraphicsControl">
    <mat-radio-button *ngFor="let item of infoGraphicsOptions" [value]="item">{{item}}</mat-radio-button>
  </mat-radio-group>

  <mat-radio-group [formControl]="chartTypeControl"  *ngIf="org.id === ''">
    <mat-radio-button *ngFor="let item of chartType" [value]="item">{{item}}</mat-radio-button>
  </mat-radio-group>

  <app-infographics-all-orgs-general-donations
    *ngIf="org.id === '' && infoGraphicsControl.value === 'General Donations' && orgGeneralDonationGraphData"
    [orgGeneralDonationGraphData]="orgGeneralDonationGraphData"
    [chartType]="chartTypeControl.value"
    [org]="org"
  >
  </app-infographics-all-orgs-general-donations>

  <app-infographics-all-orgs-item-donations
  *ngIf="org.id === '' && infoGraphicsControl.value === 'Item Donations' && orgItemDonationGraphData"
  [orgItemDonationGraphData]="orgItemDonationGraphData"
  [chartType]="chartTypeControl.value"
  [org]="org"
>
</app-infographics-all-orgs-item-donations>

  <app-infograph-org-items-donations
    *ngIf="org.id != '' && infoGraphicsControl.value === 'Item Donations'"
    [items]="items"
    [org]="org"
  >
  </app-infograph-org-items-donations>

  <app-infographics-org-general-donations
    *ngIf="org.id !== '' && infoGraphicsControl.value === 'General Donations'"
    [org]="org"
    [orgGeneralDonationGraphData]="orgGeneralDonationGraphData"
  >
  </app-infographics-org-general-donations>
</div>
