<div style="text-align: center">
  <div class="bigHeader">Delete this item?</div>
</div>
<hr size="2" width="90%" color="grey" />

<div class="centerAlign">
<h2><b>{{data.itemName}}</b> will be deleted permanently.</h2>
<span class="warning" *ngIf="showWarning">This Item has donations and cannot be removed</span>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onDelete()" [disabled]="isDisabled" cdkFocusInitial color="accent">Delete</button>
</div>
