.bigHeader {
  font-size: 30px;
}
hr {
  margin-bottom: 20px;
}
.leftContainer {
  float:left;
  width: 40%;
  margin-left: 50px;

}

.centerAlign {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rightContainer {

  float:right;
  width: 40%;
  margin-right: 50px;
}

label {
  display: inline-block;
  width: 150px;
}

.overflow-height {
  max-height: 100vh;
}
.form-field {
  width: 100%;
  max-width: 500px;
  min-width: 100px
}
@media screen and (max-width:900px) {
  #container {
      overflow: auto;
      max-height: 90vh;
      display: flex;
      flex-direction: column;

      .rightContainer {
          margin-top: -10px;
      }

  }
  .bigHeader {
      margin-top: 5px;

  }
  .leftContainer {

      float: none;
      width: 75%;
      height: 20%;


      margin-left: 10%;
      margin-right: 10%;

  }

  .rightContainer {
      float: none;
      width: 75%;
      height: 20%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 10%;
      margin-right: 10%;
  }

}
@media screen and (max-width: 430px) {
  .dialog-actions {
      float: none;
      width: 150px;
  }
}

.warning {
  font-weight: 500;
  color: red;
}
