<div id="container">

  <div style="text-align: center;">
    <div class="bigHeader">Edit Organisation</div>
  </div>
  <hr size="2" width="90%" color="grey" />

  <form [formGroup]="organisationForm">

    <div class="leftContainer">
      <div class="centerAlign">
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Organisation Name</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Description</mat-label>
          <textarea class="text-box desc" matInput formControlName="description"></textarea>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Summary</mat-label>
          <textarea class="text-box sum" matInput formControlName="summary"></textarea>  
        </mat-form-field>
        <mat-form-field class="form-field" hintLabel="Numeric Characters Only" appearance="fill">
          <mat-label>ABN</mat-label>
          <input matInput #inputABN maxLength="11" formControlName="ABN" />
          <mat-hint align="end">{{inputABN.value?.length || 0}}/11</mat-hint>
        </mat-form-field>
      </div>
    </div>

    <div class="rightContainer">
      <div class="centerAlign">
        <mat-form-field class="form-field" hintLabel="Numeric Characters Only" appearance="fill">
          <mat-label>Phone</mat-label>
          <input matInput formControlName="phone" />
        </mat-form-field>
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Website</mat-label>
          <input matInput formControlName="website" />
        </mat-form-field>
        <mat-slide-toggle (change)="toggleOrg($event)" formControlName="activeStatus">Activate/Deactive
        </mat-slide-toggle>
        <app-upload-image [imgUrl]="data.img" (imageOut)="getImageFromChild($event)"></app-upload-image>
        <div class="dialog-actions" mat-dialog-actions>
          <button mat-button (click)="onNoClick()">Cancel</button>
          <button mat-button [disabled]="!organisationForm.valid" (click)="onSubmit()" cdkFocusInitial
            color="warn">Edit</button>
        </div>
      </div>
    </div>
  </form>
</div>
