.item-information-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 400px;
  max-width: 500px;
  overflow: auto;
  text-align: center;

  .view-item-img {
    align-self: center;
  }
}


@media(max-width: 1030px) {
  .item-information-container {
    height: 100%;
  }
}
