.row-selected {
    background: rgb(185, 185, 185);
}

td,
tr:hover {
    cursor: pointer;
}

.table-container {
    width: 20%;
    padding: 5px;
}

.table-container,
table {
    width: 100%;
}

.button-container {
    display: flex;
    align-items: flex-start;
}

.button-container,
button {
    margin-left: 10px;
}

.container{
    width: 100%;
    display: flex;
}

.mat-elevation-z8{
    width: 80%;
}