.chart-container{
  display: flex;
  width:80vw;
  max-height: 360px;
  justify-content: center;
  align-items: center;

  padding-top: 50px;

  div{

    width:80vw;
    height: auto;

    #item-donations-graph{
      width:80vw;
      height: auto;
    }

  }
}
