.container{
  padding: 10px 10px;
  align-items: center;
  column-gap: 15px;
  display: flex;

  .image-frame{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    padding: 0px 5px;
    border: solid black 1px;
    cursor:default;

    span{
      cursor:default;
      font-size: 10px;
    }

  }
  .file-input{
    display: none;
  }

  .file-upload{
    button{
      font-size: 10px;
      padding: 10px auto;
    }
  }
}
