<div class="edit-item-container">
  <form [formGroup]="editItemForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card-header>
      <mat-card-title>Edit Item</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Enter item name" formControlName="name">
          <mat-error *ngIf="editItemForm.controls['name'].hasError('required')">
            Item name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Summary</mat-label>
          <input matInput placeholder="Enter Summary" formControlName="summary">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <input matInput placeholder="Enter Description" formControlName="description">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Initial Price</mat-label>
          <input matInput type="number" placeholder="Enter the price of the item." formControlName="initialPrice">
          <mat-error
            *ngIf="editItemForm.controls['initialPrice'].hasError('min') || editItemForm.controls['initialPrice'].hasError('required')">
            Please enter a positive dollar amount greater than 0.
          </mat-error>
        </mat-form-field>

      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Edit</button>
      <button mat-raised-button color="primary" type="submit">Cancel</button>
    </mat-card-actions>
  </form>
</div>