<div id="container">

  <div style="text-align: center;">
    <div class="bigHeader">Add a Donation Item</div>
  </div>
  <hr size="2" width="90%" color="grey" />

  <div class="leftContainer">
    <div class="centerAlign">
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Item Name</mat-label>
        <input matInput [(ngModel)]="data.donationItemName"/>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Summary</mat-label>
        <input matInput [(ngModel)]="data.donationItemSummary"/>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput [(ngModel)]="data.donationItemDescription"/>
      </mat-form-field>
    </div>
  </div>
  <div class="rightContainer">
    <div class="centerAlign">
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Donation Goal</mat-label>
        <input matInput type="number" [(ngModel)]="data.donationItemInitialPrice"/>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Total Donations</mat-label>
        <input matInput type="number" [(ngModel)]="data.donationItemTotalDonations"/>
      </mat-form-field>
      <h2>IMAGE UPLOAD COMPONENT</h2>
      <div class="dialog-actions" mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-button (click)="onAdd()"cdkFocusInitial color="primary">Add</button>
      </div>
    </div>
    </div>
  </div>




