<div id="container">

  <div style="text-align: center;">
    <div class="bigHeader">Add a Donation Item</div>
  </div>
  <hr size="2" width="90%" color="grey" />

  <form [formGroup]="donationItemForm">
  <div class="leftContainer">
    <div class="centerAlign">
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Item Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Summary</mat-label>
        <input matInput formControlName="summary" />
      </mat-form-field>
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" />
      </mat-form-field>
    </div>
  </div>
  <div class="rightContainer">
    <div class="centerAlign">
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Donation Goal</mat-label>
        <input type="number" matInput formControlName="initialPrice" />
        <mat-error
            *ngIf="donationItemForm.controls['initialPrice'].hasError('min') || donationItemForm.controls['initialPrice'].hasError('required')">
            Please enter a positive dollar amount greater than 0.
          </mat-error>
      </mat-form-field>
      <app-upload-image (imageOut)="getImageFromChild($event)"></app-upload-image>
      <div class="dialog-actions" mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-button (click)="onAdd()" cdkFocusInitial color="primary">Add</button>
      </div>
    </div>
  </div>
  </form>
</div>
