.overflow {
    white-space: nowrap;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin:auto;
    text-align: center;
  }

.mat-form-field {
    font-size: 14px;
}

td,
tr {
    height: 65px;
}

td,
tr:hover {
    cursor: pointer;
}

.container {
    margin: 0px 20px 0px 20px;
}

.table-header,
button {
    margin-right: 10px;
}

.row-selected {
    background: rgb(185, 185, 185);
}

.flex-container {
    display: flex;
}

.mat-elevation-z8 {
    flex: 1;
    margin-right: 10px;
}

.example-container {
    height: 400px;
    overflow: auto;
}

.mat-paginator-sticky {
    bottom: 0px;
    position: sticky;
    z-index: 10;
}

.big-graph-placeholder {
    flex: 1;
    background: rgb(194, 194, 194);
    min-width: 50px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 100%;
}

.item-container {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item-card {
    height: 350px;
    min-width: 150px;
    max-width: 200px;
    margin: 10px;
}

.item-card img {
    height: 200px;
    width: 200px;
    object-fit: contain;
}

.item-card-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.item-card {
    height: 350px;
    min-width: 150px;
    max-width: 200px;

}

.add-item-card {
    height: 350px;
    min-width: 150px;
    margin-top: 10px;
    background-color: #3f51b5;
    color: white;
    cursor: pointer;
}
mat-card {
    margin: 10px;
}

.add-icon {
    width: 168px;
    height: 168px;
    font-size: 168px;
}

.add-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 268px;
}


.mat-card-header {
    text-align: center;
    display: block;
}

.graph-expansion {
    display: none;
}

.toggle-active {
    margin-bottom: 10px;
    margin-left: 10px;
}

.radio{
    margin: 5px;
}

.remove-icon {
    margin-bottom: 2px;
}
.add-icon-mobile {
    display: none;
}

@media screen and (max-width:700px) {
    .graph-expansion {
        display: block;
        margin-top: 15px;
    }

    .flex-container {
        flex-direction: column;
    }

    .big-graph-placeholder {
        display: none;
    }

    .mat-elevation-z8 {
        flex: 1;
        margin-right: 0px;
    }

    .small-graph-placeholder {
        background: rgb(194, 194, 194);
        min-height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
@media screen and (max-width: 500px) {
    .item-container {
        align-items: center;
        justify-content: center;

        .add-item-card {
            height: 20px;
            width: 100%;
            padding-left: 0px;
            padding-right: 0px;
            margin:0;
        }

    }
    .add-item-card {
        /* Changes height of add item and icon location */
        mat-card-title {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
            margin-left: -10px;
            padding: 0;
        }
    }

    .add-icon-mobile {
        display: inline-block;
    }

    .container {
        margin: 0;
    }

}

