<html>

<body>
  <div class="container">
    <div class="table-header">
      <button mat-raised-button class="control-button" (click)="addOrgDialog()" color="primary"
        matTooltip="Add Organisation" aria-label="Add Organisation">
        <mat-icon>add</mat-icon>Organisation
      </button>
      <button mat-raised-button class="control-button" *ngIf="this.selectedOrg.id" (click)="editOrgDialog()"
        color="primary" matTooltip="Edit Organisation" aria-label="Edit Organisation">
        <mat-icon>edit</mat-icon>Edit
      </button>
      <button mat-raised-button class="control-button" *ngIf="this.selectedOrg.id" (click)="removeOrgDialog()"
        color="warn" matTooltip="Delete Organisation" aria-label="Delete Organisation">
        <mat-icon class="remove-icon">delete_forever</mat-icon>Delete
      </button>
      <mat-form-field class="control-button" appearance="standard">
        <mat-label>Search Organisations</mat-label>
        <input matInput aria-label="Search Organisations" (keyup)="applyFilter($event)" #input>
      </mat-form-field>
      <mat-radio-group aria-label="Select an option" [(ngModel)]="activeStatusFilter">
        <mat-radio-button class='radio' value="Active" (click)="toggleActiveStatus('Active')">Active Orgs
        </mat-radio-button>
        <mat-radio-button class='radio' value="All" (click)="toggleActiveStatus('All')">All Orgs</mat-radio-button>
        <mat-radio-button class='radio' value="Inactive" (click)="toggleActiveStatus('Inactive')">Inactive Orgs
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="flex-container">
      <section class="scroll-container mat-elevation-z8">
        <table mat-table [dataSource]="orgData" matSort (matSortChange)="initSelectedOrg()">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>

          <ng-container matColumnDef="totalDonationItems">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Donation Items </th>
            <td mat-cell *matCellDef="let row"> {{row.totalDonationItems}} </td>
          </ng-container>

          <ng-container matColumnDef="totalDonationsValue">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Donations </th>
            <td mat-cell *matCellDef="let row"> ${{row.totalDonationsValue}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            [ngClass]="{'row-selected': this.selectedOrg.id == row.id}" (click)="selectRow(row)"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>

        <mat-paginator class="mat-paginator-sticky" (page)="changePage($event)" [pageSizeOptions]="[5, 10, 25, 100]"
          aria-label="Select page of users">
        </mat-paginator>
      </section>

      <div class="big-graph-placeholder"> <img src="{{selectedOrg.img}}" (error)="onImgError($event)"
          style="width: 300px; height:auto; max-height: 400px;" alt="">
      </div>
      <div class="graph-expansion">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Graph Placeholder
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="small-graph-placeholder">
              <img src="{{selectedOrg.img}}" (error)="onImgError($event)" style="width: 200px; height:auto;" alt="">
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
    <div class="item-container">

      <!--Add Item-->
      <mat-card class="add-item-card" *ngIf="this.selectedOrg.id !== ''" (click)="addDonationItemDialog()"
        aria-label="Add Item">
        <mat-card-header>
          <mat-card-title>
            <mat-icon class="add-icon-mobile">add</mat-icon> Add Item
          </mat-card-title>
        </mat-card-header>
        <div class="add-icon-container">
          <mat-icon class="add-icon">add</mat-icon>
        </div>
      </mat-card>

      <!--All Organisation Item Cards-->
      <mat-card class="item-card" *ngFor="let item of items">
        <mat-card-header>
          <div class="overflow" matTooltip="{{item.name}}" [matTooltipPosition]="'below'"
            aria-label="Button that displays a tooltip in various positions">
            {{item.name}}
          </div>
        </mat-card-header>
        <img mat-card-image src={{item.img}} (error)="onImgError($event)">
        <mat-card-content>
          <p>Goal: ${{item.initialPrice}}</p>
          <p>Raised: ${{item.totalDonationsValue}}</p>
        </mat-card-content>
        <div class="item-card-button">
          <button mat-raised-button color="primary" (click)="openViewItemDialog(item)">
            View
          </button>
          <button class="control-button" (click)="openItemUpdateDialog(item)" mat-raised-button color="primary">
            <mat-icon>edit</mat-icon>
          </button>
          <button class=" control-button" (click)="removeDonationItemDialog(item.id, item.name)" mat-raised-button
            color="warn" matTooltip="Delete Item" aria-label="Delete Item">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </div>
      </mat-card>
    </div>
  </div>

</body>

</html>
