<html>

<body>
  <div class="container">
    <div class="table-header">
      <button class="control-button" (click)="addOrgDialog()" mat-raised-button color="primary">
        <mat-icon>add</mat-icon>Organisation
      </button>
      <button class="control-button" *ngIf="this.selectedOrg.id" (click)="editOrgDialog()" mat-raised-button
        color="warn">
        <mat-icon>edit</mat-icon>Edit
      </button>
      <button class="control-button" *ngIf="this.selectedOrg.id" (click)="removeOrgDialog()" mat-raised-button
        color="accent">
        <mat-icon>remove</mat-icon>Remove
      </button>
      <mat-form-field class="control-button" appearance="standard">
        <mat-label>Search Organisations</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
      </mat-form-field>
      <mat-radio-group aria-label="Select an option" [(ngModel)]="activeStatusFilter">
        <mat-radio-button class='radio' value="Active" (click)="toggleActiveStatus('Active')">Active Orgs</mat-radio-button>
        <mat-radio-button class='radio' value="All" (click)="toggleActiveStatus('All')">All Orgs</mat-radio-button>
        <mat-radio-button class='radio' value="Inactive" (click)="toggleActiveStatus('Inactive')">Inactive Orgs</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="flex-container">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="orgData" matSort (matSortChange)="initSelectedOrg()">

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>

          <ng-container matColumnDef="totalDonationItems">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Active Donation Items </th>
            <td mat-cell *matCellDef="let row"> {{row.totalDonationItems}} </td>
          </ng-container>

          <ng-container matColumnDef="totalDonations">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Donations </th>
            <td mat-cell *matCellDef="let row"> ${{row.totalDonations}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            [ngClass]="{'row-selected': this.selectedOrg.id == row.id}" (click)="selectRow(row)"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users">
        </mat-paginator>
      </div>

      <div class="big-graph-placeholder"> <img src="{{this.selectedOrg.img}}"
          style="width: 300px; height:auto; max-height: 400px;" alt="">
      </div>
      <div class="graph-expansion">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Graph Placeholder
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="small-graph-placeholder">
              <img src="{{this.selectedOrg.img}}" style="width: 200px; height:auto;" alt="">
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
    <div class="item-container">

      <!--Add Item-->
      <mat-card class="add-item-card" *ngIf="this.selectedOrg.id !== ''" (click)="addDonationItemDialog()">
        <mat-card-header>
          <mat-card-title>
            Add Item
          </mat-card-title>
        </mat-card-header>
        <div class="add-icon-container">
          <mat-icon class="add-icon">add</mat-icon>
        </div>
      </mat-card>

      <!--All Organisation Item Cards-->
      <mat-card class="item-card" *ngFor="let item of items">
        <mat-card-header>
          <mat-card-title>{{item.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{item.img}}>
        <mat-card-content>
          <p>Goal: ${{item.initialPrice}}</p>
          <p>Raised: ${{item.totalDonations}}</p>
        </mat-card-content>
        <div class="item-card-button">
          <button class="control-button" (click)="openItemUpdateDialog(item)" mat-raised-button color="warn">
            <mat-icon>edit</mat-icon>
          </button>
          <button class="control-button" (click)="removeDonationItemDialog(item.id, item.name)" mat-raised-button color="accent">
            <mat-icon>remove</mat-icon>
          </button>
        </div>
      </mat-card>
    </div>
  </div>

</body>

</html>
