.bigHeader{
  font-size: 30px;
}

.centerAlign {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

label {
  display: inline-block;
  width: 150px;
}
