body{
  background-color: #3F51B5;
  padding: 40px;
}
.authBlock{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  justify-content: center;
  width:300px;
  padding: 40px;
  background-color: white;
  border-radius: 10px;
}

.formControl{
  margin: 20px;
  height: 30px;
  border: 1px solid rgb(99, 99, 99);
  padding: 5px;
}

.forgotPassword{
  margin: 20px;
}

.displayTableCell{
  display: flex;
  justify-content: center;
}

h3{
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 70px;
}

.max-width{
  width: 300px;
}
