<div class="box">
<h1>Child</h1>
<mat-form-field appearance="outline">
  <mat-label>Outline form field</mat-label>
  <input matInput placeholder="message to child" #messageToParent>
</mat-form-field>
<button mat-flat-button color="primary" (click)="sendToParent(messageToParent.value)">Send to Parent</button>
<mat-form-field appearance="outline">
  <mat-label>Outline form field</mat-label>
  <input matInput placeholder="message to child" #messageForAllComponents>
</mat-form-field>
<button mat-flat-button color="primary" (click)="newMessage(messageForAllComponents.value)">Send to all components</button>

  <div *ngIf="messageFromParent" class="message-from-parent">
    <h1>Message From Parent:</h1>
    <h1>{{messageFromParent}}</h1>
  </div>
  <div *ngIf="messageFromService">
    <h1>Message From service:</h1>
    <h1>{{messageFromService}}</h1>
  </div>
</div>
