<body>
  <div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>EdAble Admin System</h3>
        <h2>Reset Password</h2>
        <p class="text-center">Please enter your email address to request a password reset.</p>
        <div class="formGroup">
            <input color="basic" class="email-input formControl" placeholder="Email for password reset" #passwordResetEmail>
        </div>
        <!-- Calling ForgotPassword from AuthService Api -->
        <div class="formGroup">
          <button mat-raised-button color="basic" type="submit" class="btn btnPrimary" (click)="authService.ForgotPassword(passwordResetEmail.value)">Reset Password</button>
        </div>
        <div class="redirectToLogin">
          <span><span class="redirect" routerLink="/sign-in">Return to Log In</span></span>
        </div>
      </div>
    </div>
  </div>
</body>

