<body>
  <div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Reset Password</h3>
        <p class="text-center">Please enter your email address to request a password reset.</p>
        <div class="formGroup">
          <mat-form-field class="max-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput color="basic" class="email-input" #passwordResetEmail>
          </mat-form-field>
        </div>
        <!-- Calling ForgotPassword from AuthService Api -->
        <div class="formGroup">
          <button mat-raised-button color="basic" type="submit" class="btn btnPrimary" (click)="authService.ForgotPassword(passwordResetEmail.value)">Reset Password</button>
        </div>
        <div class="redirectToLogin">
          <span><span class="redirect" routerLink="/sign-in">Return to Log In</span></span>
        </div>
      </div>
    </div>
  </div>
</body>

