<div style="text-align: center">
  <div class="bigHeader">Delete this organisation?</div>
</div>
<hr size="2" width="90%" color="grey" />

<div class="centerAlign">
  <h2><b>{{data.name}}</b> will be deleted permanently.</h2>
  <span class="warning" *ngIf="showWarning == true">{{message}}</span>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="cancelDelete()">Cancel</button>
  <button mat-button [disabled]="isDisabled" (click)="confirmDelete()" cdkFocusInitial
    color="accent">Delete</button>
</div>
